@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 22px;
}

body {
  background-color: #333;
  color: whitesmoke;
}

dd {
  margin-left: 30px;
}

a {
  color: aliceblue;
}

a:visited {
  color: lightgray;
}

a:hover,
a:active {
  color: #eee;
}
